
<!-- <mat-card-subtitle style="white-space: pre-line">
  <span>J</span>OLIO&nbsp;&nbsp;<span>J</span>OBS
</mat-card-subtitle> -->
<br>
<mat-stepper labelPosition="bottom" [linear]="isLinear" #stepper style="display: contents;">
  <mat-step label="About Me">
      <app-register></app-register>
  </mat-step>
  <mat-step label="Educational Qualification">
      <app-education></app-education>
  </mat-step>
  <mat-step label="Experience">
      <app-experience></app-experience>
  </mat-step>
  <mat-step label="Identification">
    <app-identification></app-identification>
</mat-step>
</mat-stepper>
