.card.highlightExperience {
  background-color: turquoise;
  box-shadow: 0 0.5rem 1rem #0561e9 !important;
  background-color: rgba(var(--bs-body-bg-rgb),var(--bs-bg-opacity))!important;
  border-radius: var(--bs-border-radius)!important;
}

.card.highlight {
  background-color: turquoise;
  box-shadow: 0 0.5rem 1rem #0561e9 !important;
  background-color: rgba(var(--bs-body-bg-rgb),var(--bs-bg-opacity))!important;
  border-radius: var(--bs-border-radius)!important;
}


*{
  margin: 0;
  padding: 0;
}
.rate {
  float: left;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.box{
  height: 130px;
 width: 130px !important;
}



.box img{
  margin-top: 20px;
}
h1
{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.btn2
{
  color: black;
  border: 1px solid black;
  padding: 8px 8px 8px 8px;
  padding-left: 10px;
  background-color: rgb(248, 195, 21);
  font-size: 20px;
  border-radius: 5px;
}
mat-slider {
  width: 300px;
}
mat-form-field {
  width: 100%;
}
.button{
  width: 40%;
  height: 50px;
  border: 1px solid;
  background: turquoise;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  outline: none;
  transition: .5s;
  border-radius: 10px;
  color: white;
}
.mat-card{
  border-radius: 38px;
}
