h1
{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  padding: 15px 0 20px 0;
  border-bottom: 1px solid silver;
  font-weight: 700;
}
mat-form-field {
  width: 100%;
}
.button{
  width: 40%;
  height: 50px;
  border: 1px solid;
  background: turquoise;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  outline: none;
  transition: .5s;
  border-radius: 10px;
}
