.example-button-row {
  margin: auto;
  position: absolute;
  top: center; left: 30px; bottom: center; right: center;
  margin-top: 380px;
  font-size: 35px;
  color: black;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

h3{
  margin: auto;
  position: absolute;
  top: 0; left: 55px; bottom: 0; right: 0;
  margin-top: 300px;
  font-size: 35px;
  color: black;
}

.btn1
{
  color: black;
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  background-color: rgb(33, 230, 220);
  font-size: 30px;

}
.btn2
{
  color: black;
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  background-color: rgb(248, 195, 21);
  font-size: 30px;
}
