body{
  margin:0;
  padding:0;
  font-family: verdana;
  background: linear-gradient(120deg, #ffffff, #8e44ad);
  height: 100vh;
  overflow: hidden;
}
.center{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  background: white;
  border-radius: 10px;
}

.center H1{
  text-align: center;
  padding: 15px 0 20px 0;
  border-bottom: 1px solid silver;
  font-weight: 700;
}

.btn1
{
  width: 75%;
  height: 50px;
  border: 1px solid;
  background: turquoise;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: .5s;
  left:15%;
  border-radius: 10px;
  color: white;
}
.btn2
{
  width: 75%;
  height: 50px;
  border: 1px solid;
  background: turquoise;
  color: black;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: .5s;
  left:15%;
  border-radius: 10px;
  color: white;
}
