<br>
<mat-card>
<h1>Identification</h1>
<div class="m-2">
  <mat-radio-group required="true" rearia-label="Select an option">
    <mat-label>Currently Employed</mat-label>&nbsp;&nbsp;
    <mat-radio-button value="1" color="primary">Yes</mat-radio-button>&nbsp;&nbsp;
    <mat-radio-button value="2" color="primary">No</mat-radio-button><br><br>

  </mat-radio-group></div>

<div class="m-2">
  <mat-form-field>
  <mat-label>Notice Period</mat-label>
  <mat-select>
      <mat-option *ngFor="let notice_period of notice_period" [value]="notice_period.value">
      {{notice_period.viewValue}}
      </mat-option>
  </mat-select>
  </mat-form-field>
</div>

<div class="m-2">
  <mat-radio-group  aria-label="Select an option">
    <mat-label>Immediate Joiner</mat-label>&nbsp;&nbsp;
    <mat-radio-button value="1" color="primary">Yes</mat-radio-button>&nbsp;&nbsp;
    <mat-radio-button value="2" color="primary">No</mat-radio-button><br><br>

  </mat-radio-group></div>

  <div class="m-2">
    <mat-form-field  class="example-full-width">
        <mat-label>Mother Tongue</mat-label>
        <mat-select required="true">
          <mat-option *ngFor="let language of languages" [value]="language.value">
          {{language.viewValue}}
          </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="m-2">
    <mat-form-field class="example-full-width">
        <mat-label>Other Languages</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let language of languages" [value]="language.value">
          {{language.viewValue}}
          </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>
<br>
<mat-card>
  <div class="m-2">
    <mat-label class="References_lable">Professional References</mat-label><br>
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="" value="" rows="5">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Company Name</mat-label>
      <input matInput placeholder="" value="" rows="5">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Mobile number</mat-label>
      <input matInput placeholder="" value="" rows="5">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="" value="" rows="5">
    </mat-form-field>
  </div>
</mat-card>
<br>



  <div class="d-flex justify-content-center">
    <button mat-flat-button class="button"matStepperPrevious>Previous</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" [routerLink]="['/preview-pdf']" class="button">Submit</button>
  </div>
